<ul
	class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
	id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a
		class="sidebar-brand d-flex align-items-center justify-content-center"
		href="index.html">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div>
		<div class="sidebar-brand-text mx-3">
			Consultorio Medico
		</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item"><a class="nav-link" href="index.html"> <i
			class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a></li>

	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">Menu</div>

	<!-- Nav Item - Mantenimiento Collapse Menu -->
	<li 
		sec:authorize="hasAuthority('ADMIN')"
		th:classappend="${menu == 'matenimiento' ? 'active' : ''}" 
		class="nav-item">
		<a class="nav-link collapsed" href="#"
		   data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
		   aria-controls="collapseTwo">
		   <i class="fas fa-fw fa-wrench"></i><span>Mantenimiento</span>
		</a>
		<div id="collapseTwo" th:classappend="${menu == 'mantenimiento' ? 'show' : ''}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Modulos:</h6>
				<a th:classappend="${modulo == 'specialty' ? 'active' : ''}" class="collapse-item" th:href="@{/specialties}">Especialidades</a>
				<a th:classappend="${modulo == 'doctor' ? 'active' : ''}" class="collapse-item" th:href="@{/doctors}">Medicos</a>
				<a th:classappend="${modulo == 'patient' ? 'active' : ''}" class="collapse-item" th:href="@{/patients}">Pacientes</a>
			</div>
		</div>
	</li>

	<!-- Nav Item - Consulta Medica Collapse Menu -->
	<li 
		sec:authorize="hasAuthority('DOCTOR')"
		th:classappend="${menu == 'consulta' ? 'active' : ''}" 
		class="nav-item">
		<a class="nav-link collapsed" href="#"
		   data-toggle="collapse" data-target="#collapseMedical"
		   aria-expanded="true" aria-controls="collapseMedical">
		   <i class="fas fa-fw fa-clinic-medical"></i><span>Consulta Medica</span>
		</a>
		<div th:classappend="${menu == 'consulta' ? 'show' : ''}" id="collapseMedical" class="collapse" aria-labelledby="headingMedical" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Operaciones:</h6>
				<a th:classappend="${modulo == 'consultation' ? 'active' : ''}" class="collapse-item" th:href="@{/consultations/create}">Generar Consulta</a>
				<a th:classappend="${modulo == 'consultation' ? 'active' : ''}" class="collapse-item" th:href="@{/consultations/histories}">Mostrar Consulta Medica</a>
			</div>
		</div>
	</li>
	
	<!-- Nav Item - Reportes Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#"
		   data-toggle="collapse" data-target="#collapseReports"
		   aria-expanded="true" aria-controls="collapseReports">
		   <i class="fas fa-fw fa-clipboard"></i><span>Reportes</span>
		</a>
		<div id="collapseReports" class="collapse" aria-labelledby="headingReports" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Operaciones:</h6>
				<a sec:authorize="hasAuthority('DOCTOR')" class="collapse-item" th:href="@{/consultations/histories}">Historias Clinicas</a>
				<a sec:authorize="hasAuthority('ADMIN')" class="collapse-item" th:href="@{/doctors}">Medicos por Especialidad</a>
			</div>
		</div>
	</li>
</ul>