<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">

</head>
<body>


	<div class="container py-3">
		<div class="card">
			<div class="card-header">
				<label>Welcome to Application Spring Framework</label>
			</div>
			<div class="card-body">
				<h4>Hello, Coder!</h4>
			</div>
		</div>
	</div>


	<script type="@{/webjars/jquery/3.5.1/jquery.slim.min.js}"></script>
	<script type="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
	<script type="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>

</body>
</html>